.container_saved-films{
    display: flex;
    flex-wrap: wrap;
    margin: 0 7%;

    .film{
        position: relative;
        margin: 10px;
        img{
            width: 300px;
            border-radius: 20px;
        }
    
        button{
            background-color: rgba($color: #000000, $alpha: 0);
            font-size: 2em;
            color: red;
            position: absolute;
            left: 10px;
            top: 10px;
            cursor: pointer;
        }
    }
}